body{
    padding: 0;
    margin: 0 5%;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
}

nav article{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

nav article a{
    text-decoration: none;
}

nav div a{
    margin: 0;
}

nav aside a{
    margin-left: 5px;
    margin-right: 5px;
}